# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Logs and temporary files
.DS_Store
log.log
debug*.log
debugpy*.log
pydevd*.log
port.txt
precommit.hook

# Node.js
**/node_modules
npm-debug.log

# Python bytecode and caches
*.pyc
__pycache__/
*.noseids
.nyc_output
.vscode-test
**/.mypy_cache/**
!yarn.lock
coverage/
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
.python-version

# VS Code and IDE specific files
.vs/
.vscode/
.idea/

# Test and coverage reports
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
tmp/**
test-results*.xml
xunit-test-results.xml
htmlcov/
.tox/
.nox/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot
*.xlf
package.nls.*.json
l10n/

# Django and Flask
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython
cython_debug/

# PyPI
.pypirc
